/* Mobile device CSS */
@media (max-width: 768px) {

  /* Easy way but not working in IE -> jquary plug in 
    html {
    scroll-behavior: smooth;
  } 
 */

  /* Entire Layout mobile */
  .cd-section {
    height: auto;
  }

  .cd-section>div {
    height: auto;
  }

  .content {
    position: static;
    width: 100%;
    height: 100%;
  }

  /* Header */
  header {
    transition: 0.5s;
    z-index: 100;
    opacity: 1;
  }

  header.active {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }

  .menu {
    display: block;
  }

  .m_invisible {
    display: none;
  }

  .slogan {
    display: none;
  }

  .gnb {
    background-color: #fff;
    position: fixed;
    top: 0;
    right: -270px;
    width: 250px;
    height: 100vh;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.288);
    transition: 0.5s;
  }

  .gnb.active {
    right: 0;
  }

  .menu {
    line-height: 40px;
    margin-top: 60px;
  }

  .menu a {
    display: block;
    text-align: right;
    padding-right: 20px;
    color: #000;
    font-size: 20px;
  }

  /* Trigger */

  .trigger {
    display: block;
    width: 24px;
    height: 14px;
    position: absolute;
    right: 20px;
    top: 20px;
  }

  .trigger span {
    position: absolute;
    height: 1px;
    width: 100%;
    background-color: #000;
    transition: 0.5s;
  }

  .trigger span:nth-child(1) {
    top: 0;
  }

  .trigger span:nth-child(2) {
    top: 50%;
    width: 80%;
  }

  .trigger span:nth-child(3) {
    top: 100%;
  }

  .trigger.active span:nth-child(1) {
    top: 50%;
    transform: rotate(45deg)
  }

  .trigger.active span:nth-child(2) {
    top: 50%;
    width: 80%;
    opacity: 0;
  }

  .trigger.active span:nth-child(3) {
    top: 50%;
    transform: rotate(-45deg)
  }

  /* Go to top */

  .gototop {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border: 1px solid #000;
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    transform: translateY(30px);
    opacity: 0;
    transition: 0.5s;
  }

  .gototop.active {
    background-color: #000;
    opacity: 0.7;
    transform: translateY(0);
  }

  .btn-contact {
    font-size: 17px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    opacity: 0.7;
  }

  .cd-vertical-nav {
    display: none;
  }

  /* ## Show hide section ## */
  /* 
  #home,
  #about,
  #project,
  #cirtificate,
  #plan {
    display: block; */


  /* ########################### */
  /* ########### mobile ######## */

  /* ###### Home section ######*/

  .home-inner {
    height: 100vh;
  }

  .welcome-text {
    transform: translate(-50%, -50%) scale(0.7);
    width: 100%;
  }

  .home-heading {
    margin-left: 20px;
  }

  .home-heading span {
    font-size: 50px;
  }

  /* ##### About Section ##### */

  .about-inner {
    height: auto;
    padding: 20px
  }

  .about-items {
    width: 100%;
    position: static;
    margin-left: 0;
    transform: none;
    text-align: center;
  }

  .item img {
    float: none;
    margin-bottom: 20px;
  }

  /* ##### plan section ##### */

  .plan-feature {
    width: 100%;
    position: static;
    transform: none;
  }

  .plan-feature>div {
    height: auto;
  }

  .plan-info>div {
    float: none;
    width: 100%;
  }

  .plan-inner {
    height: auto;
    padding: 20px;
  }

  .plan-pic img {
    width: 100%;
    height: auto;
  }

  .plan-ex {
    padding-right: 0;
  }

  .plan-ex h2,
  .plan-list h2 {
    font-size: 35px;
  }

  .plan-info {
    margin-top: 0;
    margin-bottom: 40px;
  }

  /* #### Cirtification section #### */

  .cirt-inner {
    height: auto;

  }

  .cirt-inner>div {
    float: none;
    width: 100%;
    padding: 40px 20px;
  }

  .cisco-heading,
  .aws-heading {
    position: static;
    transform: none;
    width: 100%
  }

  /* ##### project section ##### */

  .project-inner {
    height: auto;
    border: none;
  }

  .tab>div {
    float: none;
  }


  .project-info {
    width: 100%;
    padding: 10px;
    left: 0;
    top: 0;
  }


  .view-project {
    margin-bottom: 60px;
    margin-top: -20px;
    margin-left: 20%;
  }

  .project-pic {
    width: 100%;
  }

  .project-info p {
    position: relative;
    padding: 10px;
  }

  .detail div {
    font-size: 15px;
  }

  .btn {
    margin-bottom: 70%;
    width: 100%;
  }

  .btn-contact {
    font-size: 15px;
    padding: 5px 10px;
  }

  .project-info:before {
    font-size: 100px;
    top: 0px;
    left: 20px;

  }

  /* #### contact subpage #### */

  .contact-main {
    height: 250px;
    top: 0%;
    width: 100%;
    margin-bottom: -40px;

  }

  .contact-info {
    padding: 30px;
  }

  .contact-heading h1 {
    font-size: 32px;
  }

  .contact-heading {
    width: 100%;
    margin-top: 30px;
  }

  .header-inner {
    height: 50px;
    line-height: 50px;
  }

  .contact-heading h1 {
    width: 100%;
    font-size: 30px;
    margin-top: 20px;
  }

  .contact-info {
    height: auto;
  }

  .contact-info>div {
    float: none;
    height: auto;
    width: 100%;
  }

  .center-child {
    position: static;
    transform: none;
    width: 100%;
  }

  .contact-slogan p {
    font-size: 26px;
  }

  .contact-slogan {
    padding: 50px 0;
  }

  .contact-slogan p:before {
    top: -30px;
    left: -30px;
    font-size: 100px;
  }

  .personal-info ul {
    display: block;
    width: 100%;
  }

  /* #### project subpage ####  */
  .contact-main.project-main1,
  .contact-main.project-main2,
  .contact-main.project-main3 {
    height: 70vh
  }

  .contact-main.project-main1 .contact-heading h1,
  .contact-main.project-main2 .contact-heading h1,
  .contact-main.project-main3 .contact-heading h1 {
    font-size: 40px;
  }

  .contact-slogan p {
    font-size: 20px;
  }

  .pic.project-info {
    letter-spacing: 1.0;
    padding-top: 0px;
    margin-left: -20px;
    left: -10px;
  }


  .project-detail .contact-slogan p:before {
    left: -10px;
  }

  .btn-github {
    font-size: 15px;
    right: 20px;
    bottom: 20px;
    opacity: 0.7;
    padding: 8px 10px;
  }


  /* featherlight mobile */

  .featherlight .featherlight-close-icon {
    font-size: 24px;
    right: 20px;
    top: 15px;
  }


}