@charset 'utf-8';
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


html {
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 16px;
}

body {
  overflow-x: hidden;
  color: rgb(29, 29, 31);
  background: #fff;
}

p {
  line-height: 1.6;
}

a {
  color: rgb(29, 29, 31);
  text-decoration: none;
}


/* btn-github */


.btn-github {
  font-size: 20px;
  position: fixed;
  right: 40px;
  bottom: 40px;
  color: #fff;
  padding: 10px 20px;
  background-color: black;
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.38)
}

.btn-github .fa {
  transform: rotateY(180deg);
  margin-right: 5px;
}

.btn-github:active {
  transform: scale(0);
  transition: 0.5s;
}



/* project view- header */

/* 
.modal {
  font-family: 'Source Sans Pro', sans-serif;
  width: 100%;
}

.header {
  position: fixed;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.header-inner {
  width: 95%;
  margin: auto;
  height: 70px;
  line-height: 70px;
  border-bottom: 1px solid #ccc;
}

.modal-display {
  font-size: 16px;
} */


/* tablet size */

/* 
.slogan {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 65px;
  width: 100%;
  border-bottom: 1px solid #bbb;
  font-size: 2.2rem;
  font-weight: bold;
  padding: 0 1rem;
  z-index: 10;
} */



.scroll-section {
  padding-top: 50vh;
  position: relative;
}


#scroll-section-0 h1,
#scroll-section-3 h1 {
  font-size: 4rem;
  text-align: center;
  position: relative;
  z-index: 5;
  top: -10vh;
  color: rgb(29, 29, 31);
  text-align: center;
}

.main-message {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 4px;
  height: 3em;
  font-size: 2rem;
  top: 35vh;
  color: rgb(29, 29, 31);
}

.main-message p {
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
}

.description {
  max-width: 1000px;
  font-size: 1.2rem;
  color: #888888;
  padding: 0 1rem;
}

.description strong {
  font-size: 3rem;
  float: left;
  margin-right: 0.2em;
  color: rgb(29, 29, 31);
}

.end-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
  text-align: center;
}

.end-message strong {
  max-width: 1000px;
  margin: 0 auto;
  color: rgb(29, 29, 31);
}


.sticky-elem {
  position: fixed;
  left: 0;
  width: 100%;
  display: none;
}

.mid-message {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1rem;
  font-size: 2rem;
  color: #888;
  transform: translateY(-40%);
}

.canvas-caption {
  max-width: 1000px;
  margin: -24rem auto 0;
  padding: 1rem;
  font-size: 1.5rem;
  color: #888;
}


#show-scene-0 #scroll-section-0 .sticky-elem,
#show-scene-1 #scroll-section-1 .sticky-elem,
#show-scene-2 #scroll-section-2 .sticky-elem,
#show-scene-3 #scroll-section-3 .sticky-elem,
#show-scene-4 #scroll-section-4 .sticky-elem {
  display: block;
}

.scroll-effect-end .sticky-elem {
  display: none !important;
}


.sticky-elem-canvas {
  height: 100%;
  top: 0;
}

.sticky-elem-canvas canvas {
  position: absolute;
  top: 50%;
  left: 50%;
}

/* scale img section */

.image-blend-canvas {
  opacity: 0.7;
}

#scroll-section-4 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.canvas-caption {
  color: rgb(29, 29, 31);
}



/* end section */


.end-section {
  height: 100vh;

}

.content {

  position: absolute;
  width: 100%;
  height: 100%;
}


.contact-inner {
  background: #fff;
  height: 100%;
  width: 100%;
  position: absolute;
  padding-top: 10%;
}


.contact-inner div {
  position: relative;
  width: 50%;
  height: 100%;
  transform: translateX(50%);
}


.contact-form h3 {
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}


.send-box label {
  display: block;
  font-weight: bold;
  font-size: 16px;
  margin: 10px 0;
  margin-top: 20px;
}

.send-box label span {
  color: crimson;
  font-weight: normal;
}

.send-box input[type=email],
.send-box input[type=text],
.send-box textarea {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 3px;
  outline: none;
  width: 100%;
  transition: 0.5s;
}

.send-box input[type=email]:hover,
.send-box input[type=text]:hover,
.send-box textarea:hover {
  border: 1px solid #0088cc;
  box-shadow: 0 0 5px #0088cc;
}

.send-box input[type=email]:focus,
.send-box input[type=text]:focus,
.send-box textarea:focus {
  background-color: #eee;
}

.send-box button {
  background-color: #0088cc;
  color: #fff;
  text-transform: uppercase;
  padding: 12px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.5s;
  margin-top: 10px;
}

.send-box button:hover {
  background-color: #000;
}



footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5em;
  background-color: #fff;
  font-size: 1.5rem;
  color: #000;
  border-top: 1px solid #888;

}




/* PC */

@media (min-width:1024px) {

  .slogan {
    height: 80px;
    font-size: 3rem;
  }

  .global-nav-links {
    font-size: 1.8rem;
    margin-top: 10px;
  }


  #scroll-section-0 h1,
  #scroll-section-3 h1 {
    font-size: 8vw;
  }

  .main-message {
    font-size: 5vw;
  }

  .mid-message {
    font-size: 3rem;
    padding-bottom: 5%;
    transform: translateY(-10%);
  }

  .canvas-caption {
    font-size: 2rem;
    padding-top: 5%;
  }

  .description {

    margin: 0 auto;
    font-size: 2rem;
  }

  .description strong {
    font-size: 6rem;
  }

  #scroll-section-2 .main-message {
    font-size: 4vw;
  }

  .desc-message {
    width: 20%;
    font-weight: bold;
    opacity: 0;
  }



}